<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <extensions>
    <add assembly="NatsNLogTarget"/>
  </extensions>

  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${uppercase:${level}} ${message} ${exception}"/>
    <target name="csvAsync" xsi:type="File" fileName="${basedir}/nlogs/RPC_${shortdate}.log" archiveFileName="${basedir}/nlogs/RPC_{##}.log" archiveEvery="Day" archiveNumbering="Sequence" archiveAboveSize="102400000" maxArchiveFiles="30">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="note" layout="${gdc:note}" />
        <column name="callsite" layout="${callsite}" />
        <column name="stacktrace" layout="${stacktrace}" />
        <column name="exception" layout="${exception:maxInnerExceptionLevel=5}" />
      </layout>
    </target>

    <!--<target name="nats" type="Nats" Host="nats://dev-jobbe01.etzone.net:4222" Prefix="RPC" Category="RPC" layout="${message} CALL=${callsite}:${callsite-linenumber}"/>-->
    <!--<target name="nats" type="Nats" Host="nats://10.35.1.32:4222" Category="VM16" />-->
    <!--target name="nats" type="Nats" Host="nats://localhost:4222" Prefix="RPC" Category="RPC" layout="${message} CALL=${callsite}:${callsite-linenumber}"/-->

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console, csvAsync" />
  </rules>
</nlog>